@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,700&family=Lato:wght@400;700;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F7F2;
  /* cream */
  --foreground: #1A1A1A;
  /* charcoal */
  --primary: #D4AF37;
}

body {
  color: #1A1A1A;
  background: #F9F7F2;
  font-family: 'Source Sans 3', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .vintage-bg {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCrhtQ3_ZL8sqYxyc_Z6Gd1dYRGqVqMWd75SkA_Ak4MhqDi-2XFSblU6_vThmieV74H4OixDwqCNw7oE-Km3SKPcDx_O3dVimn8aht1C-Kvl28qFv3TrZNSVb5ZaU8s9lbuKGJUB-D1DGu7bNhSanYxpbyQ5AQUoE3nE7qOk5_cMqztPHKKjjGHKjADyX-ohYpMHbwtXx1ILbVBIrPrVFSCTgpbzRyZ7iPpkrsUzxR3jc8xDiOMCro5k1Scgcp8YsQVA_ItfcV7c_uC);
  }

  .logo-glow {
    text-shadow: 0 0 20px rgba(212, 175, 55, 0.2);
  }

  .thin-line {
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(26, 26, 26, 0.2), transparent);
  }

  .gold-gradient-text {
    background: linear-gradient(to bottom, #F5E0A5 0%, #D4AF37 50%, #8B6E2C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ornament-border {
    border-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10L90 10M90 10L90 90M90 90L10 90M10 90L10 10' stroke='%23C5A059' stroke-width='2'/%3E%3C/svg%3E") 30 stretch;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
}